
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#field_container {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

