*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

header.hidden{
    display: none;
}

.btn {
    width: 120px;
    margin: 10px 10px 30px;
    padding: 10px;
    background-color: rgb(131, 131, 172);
    border-radius: 8px;
    color: white;
}

.btn:hover {
    background-color: rgb(159, 159, 204);
    border: 2px solid black;
    margin: 8px 10px 28px;
}

#field_container {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(131, 131, 172);
    display: flex;
    flex-wrap: wrap;
    outline: 18px solid rgb(109, 109, 147);
    outline-style: ridge;
    border-radius: 3px;

}

.base_slot {
    /* min-width: 50px; */
    /* min-height: 50px; */
    background-color: yellow;
    border: 1vh dashed black;
    /* border-radius: 12px; */
    margin: 2px;
}

.base_slot:hover {
    background-color: rgb(255, 255, 126);
    border: 1vh dashed rgb(136, 136, 136);
}

/* 
.base_slot:hover::before { 
    content: "\2622";
  } */

.easy_slot {
    width: calc((100% / 10) - 4px);
    height: calc((100vh / 10) - 4px);
}

.medium_slot {
    width: calc((100% / 9) - 4px);
    height: calc((100vh / 9) - 4px);
}

.hard_slot {
    width: calc((100% / 7) - 4px);
    height: calc((100vh / 7) - 4px);
}

.checked {
    background-color: lightblue;
    border: 1.5vh groove;
}

.checked:hover {
    background-color: rgb(203, 225, 233);
    border: 0.5vh solid blue;
}

.bombexplosion {
    animation-name: explosion
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes spin10 {
0% {
    background-color: white;
}
50% {
    background-color: red; 
}
}

.bomb {
    background-color: red;
}